<!--<h1> Đây là demo trang web với angular </h1>-->

<!--<app-student></app-student>-->
<!--<app-classroom></app-classroom>-->
<!--<app-product></app-product>-->
<!--<app-products></app-products>-->
<!--<app-weather></app-weather>-->

<!--<ul>-->
<!--  <li><a routerLink="/lop-hoc">Classroom</a> </li>-->
<!--  <li><a routerLink="/san-pham">Products</a> </li>-->
<!--  <li><a routerLink="/thoi-tiet">Weather</a> </li>-->
<!--</ul>-->

<!--<router-outlet></router-outlet>-->


<!--<app-assigment1></app-assigment1>-->
<!--<app-assignment2></app-assignment2>-->
<app-practiveexam></app-practiveexam>
