  <div class="row">
    <div class="col-md-3">
     <ul><i class="glyphicon glyphicon-align-left"></i> To Do</ul>
      <ul>
        <li class="first">
          <h3>Task 1</h3>
        </li>
        <li>Analyze the new requirement gathered from the customer</li>
      </ul>

      <ul>
        <li class="first">
          <h3>Task 3</h3>
        </li>
        <li>Arrange a web meeting with the customor...</li>
      </ul>

      <ul>
        <li class="first">
          <h3>Task 10</h3>
        </li>
        <li>show the data form server</li>
      </ul>

    </div>


    <div class="col-md-3">
      <p><i class="glyphicon glyphicon-asterisk"></i> In progress</p>
      <ul>
        <li class="first">
          <h3>Task 2</h3>
        </li>
        <li>Analyze the new requirement gathered from the customer</li>
      </ul>

      <ul>
        <li class="first">
          <h3>Task 4</h3>
        </li>
        <li>Arrange a web meeting with the customor...</li>
      </ul>

      <ul>
        <li class="first">
          <h3>Task 11</h3>
        </li>
        <li>show the data form server</li>
      </ul>

    </div>


    <div class="col-md-3">
      <p><i class="glyphicon glyphicon-eye-open"></i> In Review</p>
      <ul>
        <li class="first">
          <h3>Task 5</h3>
        </li>
        <li>Analyze the new requirement gathered from the customer</li>
      </ul>

      <ul>
        <li class="first">
          <h3>Task 7</h3>
        </li>
        <li>Arrange a web meeting with the customor...</li>
      </ul>

      <ul>
        <li class="first">
          <h3>Task 12</h3>
        </li>
        <li>show the data form server</li>
      </ul>

      <ul>
        <li class="first">
          <h3>Task 19</h3>
        </li>
        <li>show the data form server</li>
      </ul>

    </div>



    <div class="col-md-3">
      <p><i class="glyphicon glyphicon-chevron-down"></i> Done</p>
      <ul>
        <li class="first">
          <h3>Task 8</h3>
        </li>
        <li>Analyze the new requirement gathered from the customer</li>
      </ul>

      <ul>
        <li class="first">
          <h3>Task 13</h3>
        </li>
        <li>Arrange a web meeting with the customor...</li>
      </ul>

      <ul>
        <li class="first">
          <h3>Task 15</h3>
        </li>
        <li>show the data form server</li>
      </ul>

      <ul>
        <li class="first">
          <h3>Task 16</h3>
        </li>
        <li>show the data form server</li>
      </ul>

    </div>


</div>
